@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*.............................................colors*/

.bg-color-name-title {
    background-color: #676767;
}

.ul-menu-color-home {
    background-color: #e67e22;
}

.ul-menu-color-resume {
    background-color: #9b59b6;
}

.ul-menu-color-contact {
    background-color: #3498db;
}

.ul-menu-color-download {
    background-color: #525252;
}

/*.............................................Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}
    .general-sub {
        
        font-family: "Exo", sans-serif;
        color: #fafafa;
        font-weight: 300;
    }
/*.............................................heading*/

header {
    margin: 0;

}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/AilinTobinprotrait.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;

}

.title {
    font-family: "Reboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

#nav {
    margin: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;

}

.menu-item a {
    width: 100%;
    height: 120px;
    text-decoration: none;
    color: #ffffff;
}

.menu-item a i {
    display: block;
    padding-top: 22px;
    font-size: 26px;

}

.menu-item span {
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    font-weight: 300;

}

/*.............................................hover*/

.hvr-sweep-to-bottom:before {
    background-color: rgb(0, 0, 0, 0.2);
}

/*.............................................footer*/

footer {
    background-color: #525252;
    min-height: 120px;
    color: #fafafa;
    margin: 0;
    
}

footer .cv-pdf i {
    color: #fafafa;
    font-size: 18px;
    padding-left: 5px;
    
}

footer .cv-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    height: 32px;
    width: 32px;
    padding: 12px 0;
    text-align: center;
    font-size: 13px;
    line-height: 7px;
    color: #fafafa;
    background-color: #bfbfbf;
    border-radius: 50%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;
}